.content{
	color: red;
	background:linear-gradient(red,yellow);
	-webkit-print-color-adjust: exact;
}

.no-btn{
	display: none;
}

.pagebreak{
	page-break-after: always;
}

header{
	position: static;

	-webkit-print-color-adjust: exact;    /*color ko print htoke yar mar pya say chin lot*/
}

@page{                    /*cuzz we just link for media bro*/
	size: legal;
	margin: 0;
}